#previousMonthButton {
    background-color:transparent;
    opacity: 0.7;
    position: fixed;

    left: 60px;
    top: 20px;

    z-index: 1;
}

#previousMonthButton> a > i{
    color:white;
    position: relative;

    margin-left: 1%;
    margin-top: 1%;
    font-size: 300%;

    transition: font-size 0.3s linear;
}

#previousMonthButton:hover{
    opacity: 1;
}

#previousMonthButton:hover > a >i{
    -webkit-transform: scale(1.15,1.15);
    -ms-transform: scale(1.15,1.15);
    transform: scale(1.15,1.15);

    transition: transform 0.2s ease-in-out;
}

#previousMonthButton:active > a >i{
    color:rgb(0, 130, 132);

    transition: color 0.1s ease-in-out;
}