@media only screen and (min-width: 0px){
    #alkohols{
        width: 350px;
        right: 50%;
        top: 30%;
        height: 70%;

        -webkit-transform: translate(50%, 0%);
        -ms-transform: translate(50%, 0%);
        transform: translate(50%, 0%);
    }
}

@media only screen and (min-width: 800px){
    #alkohols{
        width: 350px;
        right: 50%;
        top: 50%;
        height: 50%;

        -webkit-transform: translate(50%, 0%);
        -ms-transform: translate(50%, 0%);
        transform: translate(50%, 0%);
    }
}

@media only screen and (min-width: 1100px){
    #alkohols{
        width: 350px;
        right: 4%;
        top: 2%;
        height: 96%;

        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

@media only screen and (min-width: 1570px){
    #alkohols{
        width: 750px;
        right: 4%;
        top: 2%;
        height: 96%;

        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

#alkohols{
    position: fixed;

    transition: width 0.3s linear, right 0.3s linear, top 0.3s linear, height 0.3s linear, transform 0.3s linear;
}

#alkohols > span {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 1%;
    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

#alkohols > span::-webkit-scrollbar {
    width: 0 !important;
}

#alkohols > span > span {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 1%;

    background-color: rgba(255,255,255,0.1);

    -webkit-box-shadow: 0px 0px 15px -2px black;
    -moz-box-shadow: 0px 0px 15px -2px black;
    box-shadow: 0px 0px 15px -2px black;
}

#alkohols > span > span:hover {
    background-color: rgba(0,130,132,0.2);

    transition: background-color 0.2s linear;
}

#alkohols > span > span > .coverImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,130,132,0.5);
    color: white;
    font-family:"ComfortaaRegularFont";
    text-shadow: 0px 2px 3px black;
}

#alkohols > span > span:hover > .coverImage {
    opacity: 1;
}

#alkohols > span > span > .coverImage > h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;
}

#alkohols > span > span > img {
    float: right;
    width: 330px;
    margin: 3%;    
    position: relative;

    -webkit-box-shadow: 0px 0px 15px -2px rgba(255,255,255,0.78);
    -moz-box-shadow: 0px 0px 15px -2px rgba(255,255,255,0.78);
    box-shadow: 0px 0px 15px -2px rgba(255,255,255,0.78);

    transition: box-shadow 0.2s linear;
}

#alkohols > span > span:hover > img {
    -webkit-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.78);
    -moz-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.78);
    box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.78);

    transition: box-shadow 0.2s linear;
}