#nextMonthButton {
    background-color:transparent;
    opacity: 0.7;
    position: fixed;

    left: 60px;
    bottom: 2%;
}

#nextMonthButton> a > i{
    font-size: 300%;
    color:white;
    position: relative;

    margin-left: 1%;
    margin-top: 1%;
}

#nextMonthButton:hover{
    opacity: 1;
}

#nextMonthButton:hover > a >i{
    -webkit-transform: scale(1.15,1.15);
    -ms-transform: scale(1.15,1.15);
    transform: scale(1.15,1.15);

    transition: transform 0.2s ease-in-out;
}

#nextMonthButton:active > a >i{
    color:rgb(0, 130, 132);

    transition: color 0.1s ease-in-out;
}