@media only screen and (min-width: 0px){
    .roundButton{
        border: 1px solid white;
        width: 120px;
        height: 120px;

        -webkit-box-shadow: 0px 0px 12px -2px rgba(255,255,255,0.78);
        -moz-box-shadow: 0px 0px 12px -2px rgba(255,255,255,0.78);
        box-shadow: 0px 0px 12px -2px rgba(255,255,255,0.78);

        margin-right: 0px;
    }

    .roundButton:hover{
        border: 2px solid rgb(0, 130, 132);
    }

    .roundButton > a >i{
        font-size: 470%;
    }
}

@media only screen and (min-width: 600px){
    .roundButton{
        border: 2px solid white;
        width: 180px;
        height: 180px;

        -webkit-box-shadow: 0px 0px 15px -2px rgba(255,255,255,0.78);
        -moz-box-shadow: 0px 0px 15px -2px rgba(255,255,255,0.78);
        box-shadow: 0px 0px 15px -2px rgba(255,255,255,0.78);

        margin-right: 7px;
    }

    .roundButton:hover{
        border: 4px solid rgb(0, 130, 132);
    }

    .roundButton > a >i{
        font-size: 700%;
    }
}

@media only screen and (min-width: 1400px){
    .roundButton{
        border: 4px solid white;
        width: 280px;
        height: 280px;

        -webkit-box-shadow: 0px 0px 25px -2px rgba(255,255,255,0.78);
        -moz-box-shadow: 0px 0px 25px -2px rgba(255,255,255,0.78);
        box-shadow: 0px 0px 25px -2px rgba(255,255,255,0.78);

        margin-right: 10px;
    }

    .roundButton:hover{
        border: 6px solid rgb(0, 130, 132);
    }

    .roundButton > a >i{
        font-size: 1100%;
    }
}

 
 .roundButton{
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    border-radius: 100%;
    background-color: white;
    position: relative;
    display: inline-block;

    transition: transform 0.2s linear;
}

.roundButton:hover{
    -webkit-transform: scale(.95,.95);
    -ms-transform: scale(.95,.95);
    transform: scale(.95,.95);

    transition: transform 0.2s linear;
}

.roundButton > a >i{
    color:rgb(33, 33, 33);
    position: relative;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    transition: transform 0.2s linear;
}


.roundButton:hover > a >i{
    color:rgb(0, 130, 132);

    -webkit-transform: translate(-50%, -50%) scale(1.15,1.15);
    -ms-transform: translate(-50%, -50%) scale(1.15,1.15);
    transform: translate(-50%, -50%) scale(1.15,1.15);

    transition: transform 0.2s linear;
}