<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Kalendarz</title>
    <meta name="author" content="Krystian Szatkiewicz">
    <!-- LIB -->
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/fonts.css" />
    <script src="../lib/jquery-3.2.1.min.js"></script>
    <!-- LIB -->
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/body.css" />
    <link rel="stylesheet" href="../css/button/hamburger/hamburgerButton.css" />
    <link rel="stylesheet" href="../css/button/hamburger/mainHamburgerButton.css" />
    <!-- CALENDAR CSS -->
    <link rel="stylesheet" href="../css/button/square/squareButton.css" />
    <link rel="stylesheet" href="../css/button/square/squareButtonGroup.css" />
    <link rel="stylesheet" href="../css/button/anotherMonth/nextMonthButton.css" />
    <link rel="stylesheet" href="../css/button/anotherMonth/previousMonthButton.css" />
    <link rel="stylesheet" href="../css/text/currentMonth/currentMonth.css" />
    <link rel="stylesheet" href="../css/panel/calendarRightPanel/button/rightPanelBackButton.css" />
    <link rel="stylesheet" href="../css/panel/calendarRightPanel/rightPanel.css" />
    <link rel="stylesheet" href="../css/button/today/todayButton.css" />
    <!-- CALENDAR CSS -->
</head>

<body>
    <header id="header"></header>
    <div class="content">
        <div id="previousMonthButton">
            <a href="#"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
        </div>
        <div id="currentMonth"></div>
        <div id="squareButtonGroup"></div>
        <div id="rightPanel">
            <div id="rightPanelBackButton">
                <a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div id="nextMonthButton">
            <a href="#"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
        </div>
    </div>

    <script src="../js/constants/htmlClasses.js"></script>
    <script src="../js/constants/htmlIds.js"></script>
    <script src="../js/constants/eventsNames.js"></script>
    <script src="../js/constants/htmlTags.js"></script>
    <script src="../js/constants/htmlFilesNames.js"></script>
    <script src="../js/header/mainHamburgerButtonClickEvent.js"></script>
    <script src="../js/header/headerPointerOutEvent.js"></script>
    <script src="../js/inject/injectDefaultHeader.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../js/events/events.js"></script>
    <!-- CALENDAR JS -->
    <script src="../fakeJson/users.js"></script>
    <script src="../js/calendar/onLoadCalendar.js"></script>
    <script src="../js/calendar/squareButtonClickEvent.js"></script>
    <script src="../js/calendar/rightPanel/rightPanelBackButtonClickEvent.js"></script>
    <script src="../js/calendar/previousButtonClickEvent.js"></script>
    <script src="../js/calendar/nextButtonClickEvent.js"></script>
    <script src="../js/events/calendarEvents.js"></script>
    <!-- CALENDAR JS -->
</body>

</html>