<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Kalendarz</title>
    <meta name="author" content="Krystian Szatkiewicz">
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/set/calendar.css" />
    <link rel="stylesheet" media="only screen and (max-device-width: 720px)" href="../css/set/calendarDevice.css" />
</head>

<body>
    <header id="header"></header>
    <div class="content">
        <div id="previousMonthButton">
            <a href="#"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
        </div>
        <div id="currentMonth"></div>
        <div id="squareButtonGroup"></div>
        <div id="rightPanel">
            <div id="rightPanelBackButton">
                <a href="#"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div id="nextMonthButton">
            <a href="#"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
        </div>
    </div>

    <script src="../js/constants/htmlClasses.js"></script>
    <script src="../js/constants/htmlIds.js"></script>
    <script src="../js/constants/eventsNames.js"></script>
    <script src="../js/constants/htmlTags.js"></script>
    <script src="../js/constants/htmlFilesNames.js"></script>
    <script src="../js/constants/localStorageIds.js"></script>
    <script src="../js/header/mainHamburgerButtonClickEvent.js"></script>
    <script src="../js/header/headerPointerOutEvent.js"></script>
    <script src="../js/inject/injectDefaultHeader.js"></script>
    <script src="../js/inject/injectRandomBackground.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../js/events/events.js"></script>
    <!-- CALENDAR JS -->
    <script src="../fakeJson/users.js"></script>
    <script src="../fakeJson/holidays.js"></script>
    <script src="../js/calendar/onLoadCalendar.js"></script>
    <script src="../js/calendar/squareButtonClickEvent.js"></script>
    <script src="../js/calendar/rightPanel/rightPanelBackButtonClickEvent.js"></script>
    <script src="../js/calendar/previousButtonClickEvent.js"></script>
    <script src="../js/calendar/nextButtonClickEvent.js"></script>
    <script src="../js/events/calendarEvents.js"></script>
    <!-- CALENDAR JS -->
</body>

</html>