<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Co pijemy?</title>
    <meta name="author" content="Krystian Szatkiewicz">
    <!-- LIB -->
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/fonts.css" />
    <script src="../lib/jquery-3.2.1.min.js"></script>
    <!-- LIB -->
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/body.css" />
    <link rel="stylesheet" href="../css/button/hamburger/hamburgerButton.css" />
    <link rel="stylesheet" href="../css/button/hamburger/mainHamburgerButton.css" />
    <!-- DRING_TYPER CSS -->
    <link rel="stylesheet" href="../css/text/whatWeDrinkToday/whatWeDrinkToday.css" />
    <link rel="stylesheet" href="../css/panel/drinkTyperRightPanel/alkohols.css" />
    <!-- DRING_TYPER CSS -->
</head>

<body>
    <header id="header"></header>
    <div class="content">
        <div id="whatWeDrinkToday">
            <p>Jeżeli sam nie wiesz</p>
            <h1>Co dziś pijemy?</h1>
            <p>pozwól mi za Ciebie wybrać</p>
        </div>
        <div id="alkohols">
            <span>
                <span>
                    <img src="../img/users/jm1992.jpg"/>
                    <div class="coverImage">
                        <h2>Whiskey</h2>
                    </div>
                </span>
                <span>
                    <img src="../img/users/jm1992.jpg"/>
                    <div class="coverImage">
                        <h2>Whiskey</h2>
                    </div>
                </span>
                <span>
                    <img src="../img/users/jm1992.jpg"/>
                    <div class="coverImage">
                        <h2>Whiskey</h2>
                    </div>
                </span>
                <span>
                    <img src="../img/users/jm1992.jpg"/>
                    <div class="coverImage">
                        <h2>Whiskey</h2>
                    </div>
                </span>
                <span>
                    <img src="../img/users/jm1992.jpg"/>
                    <div class="coverImage">
                        <h2>Whiskey</h2>
                    </div>
                </span>
                <span>
                    <img src="../img/users/jm1992.jpg"/>
                    <div class="coverImage">
                        <h2>Whiskey</h2>
                    </div>
                </span>
                <span>
                    <img src="../img/users/jm1992.jpg"/>
                    <div class="coverImage">
                        <h2>Whiskey</h2>
                    </div>
                </span>
                <span>
                    <img src="../img/users/jm1992.jpg"/>
                    <div class="coverImage">
                        <h2>Whiskey</h2>
                    </div>
                </span>
            </span>
        </div>
    </div>

    <script src="../js/constants/htmlClasses.js"></script>
    <script src="../js/constants/htmlIds.js"></script>
    <script src="../js/constants/eventsNames.js"></script>
    <script src="../js/constants/htmlTags.js"></script>
    <script src="../js/constants/htmlFilesNames.js"></script>
    <script src="../js/header/mainHamburgerButtonClickEvent.js"></script>
    <script src="../js/header/headerPointerOutEvent.js"></script>
    <script src="../js/inject/injectDefaultHeader.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../js/events/events.js"></script>
    <!-- DRING_TYPER JS -->
    <script src="../js/drinkTyper/onLoadDrinkTyper.js"></script>
    <script src="../js/events/drinkTyperEvents.js"></script>
    <!-- DRING_TYPER JS -->
</body>

</html>