<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Co pijemy?</title>
    <meta name="author" content="Krystian Szatkiewicz">
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/set/drinkTyper.css" />
    <link rel="stylesheet" media="only screen and (max-device-width: 720px)" href="../css/set/drinkTyperDevice.css" />
</head>

<body>
    <header id="header"></header>
    <div class="content">
        <div id="whatWeDrinkToday">
            <p>Jeżeli sam nie wiesz</p>
            <h1>Co dziś pijemy?</h1>
            <p>pozwól mi za Ciebie wybrać</p>
        </div>
        <div id="whatWeDrinkTodayButton">
            <a>Wylosuj spośród wybranych alkoholi</a>
        </div>
        <div id="showAlkoholsButton">
            <h1>Alkohole</h1>
            <a id="lastTimeChosenAlkoholsButton">Ostatnio wybrane</a>
            <a id="allAlkoholsButton">Wszystkie</a>
        </div>
        <div id="alkohols"></div>
        <div id="loading"></div>
    </div>

    <script src="../js/constants/htmlClasses.js"></script>
    <script src="../js/constants/htmlIds.js"></script>
    <script src="../js/constants/eventsNames.js"></script>
    <script src="../js/constants/htmlTags.js"></script>
    <script src="../js/constants/htmlFilesNames.js"></script>
    <script src="../js/constants/localStorageIds.js"></script>
    <script src="../js/header/mainHamburgerButtonClickEvent.js"></script>
    <script src="../js/header/headerPointerOutEvent.js"></script>
    <script src="../js/inject/injectDefaultHeader.js"></script>
    <script src="../js/inject/injectRandomBackground.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../js/events/events.js"></script>
    <!-- DRING_TYPER JS -->
    <script src="../js/drinkTyper/createAlkoholsElements.js"></script>
    <script src="../js/drinkTyper/hideShowAlkoholsButtonElement.js"></script>
    <script src="../js/drinkTyper/onAllAlkoholsButtonClick.js"></script>
    <script src="../js/drinkTyper/onLastTimeChosenAlkoholsButtonClick.js"></script>
    <script src="../js/drinkTyper/onWhatWeDrinkTodayButtonClick.js"></script>
    <script src="../fakeJson/drinkTyper/alkohols.js"></script>
    <script src="../js/events/drinkTyperEvents.js"></script>
    <!-- DRING_TYPER JS -->
</body>

</html>