<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Co pijemy?</title>
    <meta name="author" content="Krystian Szatkiewicz">
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <!-- LIB -->
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/fonts.css" />
    <!-- LIB -->
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/body.css" />
    <link rel="stylesheet" href="../css/button/hamburger/hamburgerButton.css" />
    <link rel="stylesheet" href="../css/button/hamburger/mainHamburgerButton.css" />
    <!-- DRING_TYPER CSS -->
    <link rel="stylesheet" href="../css/panel/drinkTyperResultPanel/randomResult.css" />
    <!-- DRING_TYPER CSS -->
</head>

<body>
    <header id="header"></header>
    <div class="content">
        <div id="randomResult">
            <div id="randomResultImage">
                <img/>
            </div>
            <div id="randomResultName">
                <h1></h1>
            </div>
            <div id="randomResultDescription">
                <p></p>
            </div>
        </div>
    </div>

    <script src="../js/constants/htmlClasses.js"></script>
    <script src="../js/constants/htmlIds.js"></script>
    <script src="../js/constants/eventsNames.js"></script>
    <script src="../js/constants/htmlTags.js"></script>
    <script src="../js/constants/htmlFilesNames.js"></script>
    <script src="../js/constants/localStorageIds.js"></script>
    <script src="../js/header/mainHamburgerButtonClickEvent.js"></script>
    <script src="../js/header/headerPointerOutEvent.js"></script>
    <script src="../js/inject/injectDefaultHeader.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../js/events/events.js"></script>
    <!-- DRING_TYPER JS -->
    <script src="../js/drinkTyper/result/onRandomResultLoad.js"></script>
    <script src="../js/events/drinkTyperResultEvents.js"></script>
    <!-- DRING_TYPER JS -->
</body>

</html>