#loginForm{
    top: 50px;
    right: 30px;
    position: fixed;

    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;

    -webkit-box-shadow: 0px 0px 40px black;
    -moz-box-shadow: 0px 0px 40px black;
    box-shadow: 0px 0px 40px black;

    border: 4px solid rgba(0, 130, 132, 0.7);

    font-family:"ComfortaaRegularFont";
    background-color: rgba(33, 33, 33, 0.6);

    height: 100px;
    width: 600px;

    transition: width 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#loginForm > i {
    font-size: 80px;

    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    color:rgba(0, 130, 132, 0.7);

    transition: color 0.3s;
}

#loginForm > i:hover {
    color:rgb(244, 182, 66);
    cursor: pointer;
}

#loginForm > input {
    font-size: 50px;
    font-family:"ComfortaaRegularFont";

    border: 4px solid rgba(0, 130, 132, 0.7);

    -webkit-box-shadow: 0px 0px 20px black;
    -moz-box-shadow: 0px 0px 20px black;
    box-shadow: 0px 0px 20px black;

    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;

    caret-color: transparent;
    letter-spacing: 1px;
    padding: 2px;
    width: 450px;

    text-align: center;

    transition: opacity 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#loginForm > #loginFormLogoutButton {
    visibility: hidden;
}