#currentMonth{
    position: absolute;
    color:rgb(0, 130, 132);
    font-size: 150%;
    text-shadow: 0px 2px 3px black;

    left: 50%;
    top: 1%;

    -webkit-transform: translate(-50%, -1%);
    -ms-transform: translate(-50%, -1%);
    transform: translate(-50%, -1%);
}