 .hamburgerButton{
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    border: 2px solid white;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background-color: white;
    margin-top: 3px;
    margin-left: 3px;

    -webkit-box-shadow: 0px 0px 15px -2px rgba(255,255,255,0.78);
    -moz-box-shadow: 0px 0px 15px -2px rgba(255,255,255,0.78);
    box-shadow: 0px 0px 15px -2px rgba(255,255,255,0.78);

    transition: transform 0.2s linear;
}

.hamburgerButton:hover{
    border: 2px solid rgb(0, 130, 132);
    -webkit-transform: scale(.98,.98);
    -ms-transform: scale(.98,.98);
    transform: scale(.98,.98);

    transition: transform 0.2s linear;
}

.hamburgerButton > a >i{
    font-size: 200%;
    color:rgb(33, 33, 33);
    position: relative;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    transition: transform 0.2s linear;
}

.hamburgerButton:hover > a >i{
    color:rgb(0, 130, 132);

    -webkit-transform: translate(-50%, -50%) scale(1.05,1.05);
    -ms-transform: translate(-50%, -50%) scale(1.05,1.05);
    transform: translate(-50%, -50%) scale(1.05,1.05);

    transition: transform 0.2s linear;
}

.hamburgerButton > h2{
    position: fixed;
    visibility: hidden;

    -webkit-transform: translate(50px, -150%);
    -ms-transform: translate(50px, -150%);
    transform: translate(50px, -150%);
}

.hamburgerButton:hover > h2{
    visibility: visible;
}