body{
    background-color: rgb(33, 33, 33);
    margin: auto;
}

a{
    text-decoration:none;
}

header{
    background-color: white;
    position: fixed;
    width: 52px;
    height: 100%;

    -webkit-box-shadow: 0px 0px 15px -2px rgba(255,255,255,0.78);
    -moz-box-shadow: 0px 0px 15px -2px rgba(255,255,255,0.78);
    box-shadow: 0px 0px 15px -2px rgba(255,255,255,0.78);
}

h1,h2{
    font-family:"ComfortaaRegularFont";
}

.todayButton{
    border: 2px solid rgb(0, 130, 132) !important;
}

.todayButton > h1 {
    color: rgb(0, 130, 132) !important;
}